*, *::before, *::after {
    box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
   font-size: .8125rem;
   background: #F1F1F1;
}

header {
    padding: 0;
    margin: 0;
    background: #1A1A1A;
    text-align: center;
}

nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

svg {
    width: 2rem;
    height: 2rem;
    display: block;
}

input {
    background: inherit; 
    border: none;
    color: #B5B5B5;
    line-height: 1.1375rem;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    padding: .75rem 1rem;
    line-height: 2rem;
    color: #616161;
    position: relative;
}

.nav__bar--one {
    padding: .2rem;
}

.shopify__desktop {
    display: none;
}

.nav__bar--two {
    width: 70%;
    max-width: 238px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__bar--three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 20%;
}

.nav__bar--input {
    background: linear-gradient(0deg, #303030, #303030);
    display: flex;
    align-items: center;
    border: 1px solid #616161;
    padding: .3rem;
    border-radius: 8px;
    width: 100%;
}

.nav__bar--input:hover {
    border: 1px solid #E1E1E1;
}

.nav__bar--input:active, .nav__bar--input:focus {
    border: 2px solid white;
}

.nav__bar--full {
    color: white;
}

.none {
    display: none;
}

.icon__box {
    display: flex;
    align-items: center;
}

.icon__box:hover {
    background: none;
}

.mini-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.search {
    padding: .2rem;
}

.nav__bar--text {
    display: flex;
    align-items: center;
}

.nav__bar--full {
    display: none;
}

.nav__bar--initials {
    padding: 6px;
    margin: auto;
    font-weight: 500;
    font-size: .75rem;
    background-color: #36FBA1;
    border-radius: 8px;
    line-height: .9rem;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

.nav__bar--list {
    position: absolute;
}

.nav__list {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: relative;
}

.nav__list--visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    position: absolute;
    padding: 6px 0px 6px 0px;
    width: 320px;
    top: 64px;
    left: 50px;
    border: 1px solid #DBDBDB;
    border-radius: 14px;
    background: #FFFFFF;
    transition: opacity 1s;
    z-index: 100;
}

.nav__list--visible {
    display: block;
    position: absolute;
}

.nav__link {
    text-decoration: none;
    color: #303030;
}

.nav__list--primary, .nav__list--secondary {
    padding: 0px 6px 0px 6px;
}

.nav__item {
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 6px;
}

.nav__list--secondary .nav__item {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.nav__link--tiny {
    font-size: 12px;
    line-height: 15.2px;
    text-decoration: none;
    color: #616161;
}

.my__store {
    border-bottom: .75px solid #E1E1E1;
}

.nav__list--secondary {
    border-top: .75px solid #E1E1E1;
}

.nav__bar--list .nav__bar--initials {
    margin: 0;
}

.nav__bar--text {
    padding: 4px 12px 4px 8px;
}

.nav__list svg path{
    fill: #303030;
}

.nav__list svg {
    width: 25px;
    height: 25px;
}

.nav__bar--list .nav__bar--full {
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.nav__bar--list .nav__bar--text:hover, .nav__item:hover {
    background: #F1F1F1;
}


/*TODO: Combine Pseudoclasses*/
.icon__box:active, .nav__bar--text:active {
    background: #616161;
}

.icon__box:focus, .nav__bar--text:focus, .cust__button:focus, .custom:focus {
    background: #616161;
    box-shadow: 0px 0px 0px 2px #005BD3;
}

.cust__button:hover {
    background: linear-gradient(0deg, #2A2A2A, #2A2A2A);
    box-shadow: 0px 0px 0px 1.5px #333333;
    border-width: 1.5px 1.5px 0px 1.5px;
    border-style: solid;
    border-color: #FFFFFF33;   
}

.cust__button:active {
    background: #2B2B2B;
}

.box {
    position: relative;
}

.main--box {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.main__section--one {
    background: #1A1A1A;
}

.main__section {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section--one, .main__section--two, .main__three {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
}

.main__section--one {
    color: white;
    padding: .75rem 1rem;
}

.main--column {
    display: flex;
    flex-wrap: wrap;
}

.main--column--two {
    flex-direction: column;
    gap: 4px;
}

.main__one--p {
    width: 100%;
    line-height: 1.125rem;
}

.x-button {
    margin: 0;
    padding: 0;
}

.x-box {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.x-box svg {
    padding: .5rem 0 0 .5rem;
    margin-top: .7rem;
}

 button {
    background: inherit;
    border: none;
    height: fit-content;
 }
 
 .main__one--button {
    background: white;
    border-radius: 8px;
    font-size: .75rem;
    padding: .5rem
 }

 .button__link {
    margin: 0;
    padding: 0 .3rem;
    color: #323232;
    text-decoration: none;
 }

 .main__three {
    display: none;
    background: white;
 }

 .main__section--two h3, .main__three h3 {
    margin: 0;
    padding-top: .7rem;
    font-weight: 600;
    font-size: .9rem;
    color: #303030; 
 }


 .main__section--two {
    background: white;
    padding: .75rem 1rem;
    margin: 0;
    position: relative;
    top: 1rem;
    z-index: 1;
    border: 1px hsl(0, 0%, 86%);
    border-bottom: none;
    box-shadow: 0 1px 0 0 #0000000D;
 }

 .main__section--two svg {
    padding: 0;
    margin: 0;
}

 #id__two::after {
    background-color: white;
    height: 10px;
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: -1px;
    right: -1px;
 }
 
 .main__section--two path {
    fill: #4A4A4A;
 }

 .button__up, .button__down {
    padding: 4px;
    border-radius: 6px;
    gap: 8px;
 }

 .button__up svg, .button__down svg, .load svg {
    width: 1.25rem;
    height: 1.25rem;
 }

 .button__down {
    display: none;
 }

 .button__up {
    display: block;
 }

 .main__three--grid {
    margin: .5rem .5rem .8rem .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    cursor: default;
 }

 .main__three--grid:focus, .main__three--grid:hover {
    background: #F3F3F3;
 }

 .main__three--p {
    padding: 2px 0px 2px 0px;
    gap: 2rem;
    color: #616161;
 }

 .main__three h3 {
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.14rem;
 }

 .main__three p {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
 }

 .main__three--img {
    display: none;
}

 .link {
    text-decoration: none;
    color:#005BD3;
    cursor: pointer;
 }

 .link:hover, .link:active {
    padding: .2rem;
    background: #6eacff;
 }

.cust__button {
    background-color: #404040;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    border: 1.5px #FFFFFF33;
    box-shadow: 0px 1px 0px 1.5px #333333;
    stroke: #FFFFFF33;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1rem;
    color: #F6F3F6;
}

.main__three--sub {
    display: none;
}

.button__box, .main__two--row{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.line, .segment {
    display: inline-block;
    height: 4px;
    border-radius: 28px;
}  

.line {
    background: #E3E3E3;
    width: 5rem;
}

.segment {
    background: #1A1A1A;
}

.icon {
    background-image: url(svg-files/dotted.svg);
    
}

.icon, .icon:hover {
    margin-top: .7rem;
    width: 1.25rem;
    height: 1.25rem;
}

.icon:hover {
    background-image: url(svg-files/circle.svg);
}

.svg__rollout {
    animation-name: rollout;
    animation-delay: 100ms;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rollout {
    0% {background-image: url(svg-files/grey-circle.svg);}
    10% {transform: rotateY(180deg);}
    12.5% {background-image: url(svg-files/fragment.svg);}
    25% {background-image: url(svg-files/half.svg);}
    50% {background-image: url(svg-files/clock.svg);}
    75% {background-image: url(svg-files/check.svg);}
    100% {background-image: url(svg-files/checked.svg);}
}


@media only screen and (min-width: 900px) {
    .shopify__mobile {
        display: none;
    }
    .shopify__desktop {
        display: block;
    }
    .shopify__desktop svg {
        width: 105px;
    }

    .nav__bar--list {
        position: absolute;
        right: 0px;
    }

    .nav__list--visible {
        position: relative;
        left: 0px;
    }

    .nav__bar--two {
        width: 100%;
        max-width: 480px;
    }

    .nav__bar--text {
        display: flex;
    }

    .nav__list .nav__bar--text {
        border: 0;
        background: none;
    }
    .icon__box, .nav__bar--text {
        border: 1px solid #616161;
        padding: 0.1rem;
        margin: 0;
        border-radius: 8px;
        align-items: center;
        background: linear-gradient(0deg, #303030, #303030);
    }

    .icon__box, .nav__bar--text {
        display: flex;
        height: fit-content;
    }

    .icon__box:hover, .nav__bar--text:hover {
        background: #616161;
    }

    .nav__bar--full {
        margin: 0;
        padding: 2px 2px 2px 8px;
        font-size: 12px;
        width: 100%;
        display: block;
        font-weight: 500;
        line-height: 15.6px;
    }

    .nav__bar--initials {
        padding: 9px;
        margin: 0;
    }

    .main__section--one .main--column {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .main__section--one {
        padding: .2rem 1rem;
    }
    .main__one--button {
        width: 15%;
    }

    .x-box {
        align-items: center;
    }
    .x-button svg {
        margin: 0 0 .5rem 0;
    }

    .divSub {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .main__sub--p {
        width: 70%;
    }

    .main__three--img {
        display: block;
        align-self: center;

    }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
    .nav__bar--list {
        position: absolute;
        right: 0px;
    }

    .nav__list--visible {
        position: relative;
        left: 0px;
    }
}


