*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
   line-height: 1.5;
   margin: 0;
   transition: all 2s;
   font-family: 'Inter', sans-serif;
   font-size: .8125rem;
   background: #F1F1F1;
   cursor: default;
}

header {
    background: #1A1A1A;
    text-align: center;
}

nav {
    width: 100%;
}

svg {
    width: 2rem;
    height: 2rem;
    display: block;
}

input {
    background: inherit; 
    border: none;
    color: #B5B5B5;
    line-height: 1.1375rem;
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.back-to-top {
    text-transform: uppercase;
    width: 2rem;
    height: 2rem;
    margin: .5rem 1rem;
    font-size: .7rem;
    font-weight: 500;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 1vmax;
    box-shadow: 5px 5px;
    transition: width 1s, opacity 1s;
    opacity: 0;
}

.back-to-top {
    position: fixed;
    min-width: fit-content;
    right: 0;
    bottom: 1rem;
}

.back-to-top:hover {
    width: 5rem;
}

.back-to-top:active {
    box-shadow: 0 0;
}

.visible {
    opacity: 1 !important;
    transition: opacity 200ms;
}

.autoComplete {
    opacity: 0;
    position: absolute;
    text-align: left;
    border: 1px solid #616161;
    background: linear-gradient(0deg, #303030, #303030);
    color: #B5B5B5;
    padding: 0 1.5rem;
    border-radius: 8px;
    margin: 0 auto;
    width: 44%;
}

.nav--complete {
    width: 100%;
    max-height: fit-content;
}


.header__container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.nav__bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'icon search box' ;
    justify-content: space-between;
    width: 100%;
    padding: .75rem 1rem;
    line-height: 2rem;
    color: #616161;
}

.nav__bar--one {
    padding: .2rem;
    grid-area: icon;
}

.shopify__desktop {
    display: none;
}

.nav__bar--two {
    width: 70%;
    grid-area: search;
    max-width: 14.875rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__bar--three {
    grid-area: box;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .75rem;
}

.nav__bar--input {
    background: linear-gradient(0deg, #303030, #303030);
    display: flex;
    align-items: center;
    border: 1px solid #616161;
    padding: .3rem;
    border-radius: 8px;
    width: 100%;
}

.nav__bar--input:hover {
    border: 1px solid #E1E1E1;
}


.nav__bar--input:active, .nav__bar--input:focus {
    border: 2px solid white;

}

.nav__bar--full {
    color: white;
}

.icon__box {
    display: flex;
    align-items: center;
}

.icon__box:hover {
    background: none;
}

.icon__box:focus, .nav__bar--text:focus {
    background: none;
    box-shadow: 0;
}

.mini-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.search {
    padding: .2rem;
}

.nav__bar--text {
    display: flex;
    align-items: center;
}

.nav__bar--full {
    display: none;
}

.nav__bar--initials {
    padding: .4rem;
    margin: auto;
    font-weight: 500;
    font-size: .75rem;
    background-color: #36FBA1;
    border-radius: 8px;
    line-height: .9rem;
}

.nav__list {
    list-style-type: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

.nav, .notif {
    visibility: hidden;
	height: 0;
	position: absolute;
}

.nav--visible, .notif--visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    display: block;
    position: absolute;
    min-width: 20rem;
    border: 1px solid #DBDBDB;
    border-radius: 14px;
    box-shadow: 0px 4px 8px 0px #0000000D;
    background: #FFFFFF;
    transition: opacity 1s;
    z-index: 100;
}

.nav--visible {
    padding: .375rem 0rem;
    top: 4rem;
    left: 3.125rem;
}

.notif--visible {
    top: 7.25rem;
    left: 4.125rem;
    padding: 1rem;
}

.nav__link {
    text-decoration: none;
    color: #303030;
}

.nav__list--primary, .nav__list--secondary {
    padding: 0 .375rem;
}

.nav__item {
    font-weight: 400;
    font-size: .81rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 8px;
    padding: .375rem;
}

.nav__item:focus, .nav__item:active {
    background: #616161;
    box-shadow: 0px 0px 0px 2px #005BD3;
}

.nav__list--secondary .nav__item {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.nav__link--tiny {
    font-size: .75rem;
    line-height: .95rem;
    text-decoration: none;
    color: #616161;
}

.my__store {
    border-bottom: .75px solid #E1E1E1;
}

.nav__list--secondary {
    border-top: .75px solid #E1E1E1;
}

.nav__bar--list .nav__bar--initials {
    margin: 0;
}

.nav__bar--text {
    padding: .25rem .75rem .25rem .5rem;
}

.nav__list svg path{
    fill: #303030;
}

.nav__list svg {
    width: 1.57rem;
    height: 1.57rem;
}

.nav__bar--list .nav__bar--full {
    display: block;
    font-size: .81rem;
    font-weight: 600;
    line-height: 1.125rem;
}

.nav__bar--list .nav__bar--text:hover, .nav__item:hover {
    background: #F1F1F1;
}

.icon__box:active, .nav__bar--text:active {
    background: #616161;
}

.cust__button:hover {
    background: linear-gradient(0deg, #2A2A2A, #2A2A2A);
    box-shadow: 0px 0px 0px 1.5px #333333;
    border-width: 1.5px 1.5px 0px 1.5px;
    border-style: solid;
    border-color: #FFFFFF33;   
}

.cust__button:active {
    background: #2B2B2B;
}

.box {
    position: relative;
}

.notif__box {
    color: #00000D;
    
}

.notif__head {
    display: flex;
    justify-content: space-between;
}

.alerts {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: #303030;
}

.svg__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.hamburger, .checkmark {
    width: 1.25rem;
    height: 1.25rem;  
}

.hamburger {
    background: no-repeat 100% url(svg-files/hamburger.svg);
}
.checkmark {
    background: no-repeat 100% url(svg-files/checkmark.svg);
}

.notif__content {
    padding: 1rem;
    margin: 0;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.125rem;
    color: #303030;
    text-align: center;
}

.notif__content:hover {
    background: #F1F1F1;
}

.main__section--one {
    background: #1A1A1A;
    color: white;
    padding: .75rem 1rem;
}

.main__section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section--two {
    background: white;
    padding: .75rem 1rem;
    margin: 0;
    margin-top: 1rem;
    border: 1px hsl(0, 0%, 86%);
    border-bottom: 0;
    box-shadow: 0 1px 0 0 #0000000D;
 }

.main__section--one, .main__section--two, .main__three {
    width: 98%;
    max-width: 50rem;
    border-radius: 8px;
}

.main--box {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.main--column {
    display: flex;
    flex-wrap: wrap;
}

.main--column--two {
    flex-direction: column;
    gap: 4px;
}

.main__one--p {
    width: 100%;
    line-height: 1.125rem;
}

.x-button {
    margin: 0;
    padding: 0;
}

.x-box {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.x-box svg {
    padding: .5rem 0 0 .5rem;
    margin-top: .7rem;
}

 button {
    background: inherit;
    border: none;
    min-height: fit-content;
 }
 
 .main__one--button {
    background: white;
    border-radius: 8px;
    font-size: .7rem;
    font-weight: 600;
    line-height: .975rem;
    padding: .4rem .75rem;
 }

 .button__link {
    margin: 0;
    padding: 0;
    color: #323232;
    text-decoration: none;
 }

 .main__three {
    display: none;
    background: white;
 }

 .main__section--two h3, .main__three h3 {
    margin: 0;
    padding-top: .7rem;
    font-weight: 600;
    font-size: .9rem;
    color: #303030; 
 }

 .main__section--two svg {
    padding: 0;
    margin: 0;
}
 
 .main__section--two path {
    fill: #4A4A4A;
 }

 .button__up, .button__down {
    padding: .25rem;
    border-radius: 6px;
    gap: .5rem;
 }

.button__up svg, .button__down svg, .load svg {
    width: 1.25rem;
    height: 1.25rem;
 }

 .button__down {
    display: none;
 }

 .button__up {
    display: block;
 }

 .button__box, .main__two--row{
    display: flex;
    gap: 1rem;
    align-items: center;
}

 .main__three--grid {
    margin: .5rem .5rem .8rem .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    cursor: default;
 }

 .main__three--grid:focus, .main__three--grid:hover {
    background: #F3F3F3;
 }

 .main__three--p {
    padding: 2px 0px;
    gap: 2rem;
    color: #616161;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
 }

 .growAnimation {
    animation: growDown 300ms ease-in-out;
    transform-origin: top center;
 }

 .main__three h3 {
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.14rem;
 }

 .main__three--img {
    display: none;
}

 .link {
    text-decoration: none;
    color:#005BD3;
    cursor: pointer;
 }

 .link:hover, .link:active {
    padding: .2rem;
    background: #6eacff;
 }

.cust__button {
    background-color: #404040;
    border-radius: 6px;
    padding: .375rem .75rem;
    border: 1.5px #FFFFFF33;
    box-shadow: 0px 1px 0px 1.5px #333333;
    stroke: #FFFFFF33;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1rem;
    color: #F6F3F6;
}

.main__three--sub {
    display: none;
}

.line, .segment {
    display: inline-block;
    height: .25rem;
    border-radius: 28px;
}  

.line {
    background: #E3E3E3;
    width: 5rem;
}

.segment {
    background: #1A1A1A;
}

.icon {
    background: no-repeat 100% url(svg-files/dotted.svg);  
}

.icon, .icon:hover {
    margin-top: .7rem;
    width: 1.25rem;
    height: 1.25rem;
}

.icon:hover {
    background: no-repeat 100% url(svg-files/circle.svg);
}

.border--up {
    border-radius: .5rem .5rem 0 0;
}

.border--down {
    border-radius: 0 0 .5rem .5rem;
}

.svg__rollout {
    animation-name: rollout;
    animation-delay: 100ms;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;  
}

@keyframes rollout {
    10% {background: no-repeat 100% url(svg-files/grey-circle.svg);}
    15% {background: no-repeat 100% url(svg-files/fragment.svg);}
    25% {background: no-repeat 100% url(svg-files/half.svg);}
    50% {background: no-repeat 100% url(svg-files/clock.svg);}
    75% {background: no-repeat 100% url(svg-files/check.svg);}
    100% {background: no-repeat 100% url(svg-files/checked.svg);}
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}


@media only screen and (min-width: 56.25rem) {
    .shopify__mobile {
        display: none;
    }

    .shopify__desktop {
        display: block;
    }

    .shopify__desktop svg {
        width: 105px;
    }

    .nav, .notif {
        position: absolute;
        left: auto;
        right: 4rem;
    }

    .nav__bar--two {
        width: 100%;
        max-width: 480px;
    }

    .nav__bar--text {
        display: flex;
    }

    .nav__list .nav__bar--text {
        border: 0;
        background: none;
    }

    .icon__box, .nav__bar--text {
        display: flex;
        height: fit-content;
        border: 1px solid #616161;
        padding: .1rem;
        margin: 0;
        border-radius: 8px;
        align-items: center;
        background: linear-gradient(0deg, #303030, #303030);
    }

    .icon__box:hover, .nav__bar--text:hover {
        background: #616161;
    }

    .icon__box:focus, .nav__bar--text:focus, 
    .cust__button:focus, .custom:focus {
        background: #616161;
        box-shadow: 0px 0px 0px 2px #005BD3;
    }

    .nav__bar--full {
        margin: 0;
        padding: 2px 2px 2px 8px;
        font-size: .75rem;
        width: 100%;
        display: block;
        font-weight: 500;
        line-height: .975rem;
    }

    .nav__bar--initials {
        padding: .56rem;
        margin: 0;
    }

    .main__section--one .main--column {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .main__section--one {
        padding: .2rem 1rem;
    }
    
    .main__one--button {
        width: 15%;
    }

    .x-box {
        align-items: center;
    }

    .x-button svg {
        margin: 0 0 .5rem 0;
    }

    .divSub {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main__three--p {
        width: 100%;
    }

    .main__sub--p {
        width: 70%;
    }

    .main__three--img {
        display: block;
        align-self: center;

    }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
    .nav, .notif {
        position: absolute;
        left: auto;
        right: 2rem;
    }
}


